<div class="col-xs-2 hidden-print">
  <%= link_to "<- Back to edit", episode_path(@episode) %>
</div>

<div class="hidden-print text-right col-xs-3 col-xs-offset-8">
  <input type="checkbox" checked="true" class="omitted-cue-button"/> Display Omitted Cues<br/>
  <input type="checkbox" checked="true" class="notes-button"/> Display Notes<br/>
  <div id="p-notes"><input type="checkbox" checked="true" class="p-notes-button"/> Display Private Notes</div><br/>
  <input type="button" class="btn btn-success" value="Print Sheet" onClick="window.print()">
</div>

<br class="clear"/>

<div class="col-xs-2">
  Cue #/Character
</div>
<div class="col-xs-2">
  Start/End
</div>
<div class="col-xs-5">
  Dialogue
</div>
<div class="col-xs-3 notes">
  Notes
</div>

<br class="clear"/>
<hr class="double"/>

<% character_cues = Hash.new {|hash, key| hash[key] = 001 } %>
<% letters = ('A'..'Z').to_a %>
<% character_subs = Hash.new {|hash, key| hash[key] = 0 } %>

<% @cues.each do |cue| %>
  <% if cue.omit %>
    <div class="omitted-cue">
  <% else %>
    <div>
  <% end %>
    <div class="col-xs-2">
      <% if cue.between %>
        <p><%= cue.character.abbr.upcase + '_' + "%03d" % character_cues[cue.character.name] + letters[character_subs[cue.character.name]] %></p>
        <% character_subs[cue.character.name] += 1 %>
      <% else %>
        <p><%= cue.character.abbr.upcase + '_' + "%03d" % character_cues[cue.character.name] %></p>
        <% character_cues[cue.character.name] += 1 %>
        <% character_subs[cue.character.name] = 0 %>
      <% end %>
      <p><%= cue.character.name %></p>
      <% if cue.omit %>
        <h4>OMITTED</h4>
      <% end %>
    </div>
    <div class="col-xs-2">
      <p><%= cue.start_time %></p>
      <p><%= cue.end_time %></p>
    </div>
    <div class="col-xs-5">
      <% if cue.omit %>
        <p class="omitted">"<%= cue.dialogue %>"</p><br />
        <h4><%= cue.omit_notes %></h4>
      <% else %>
        "<%= cue.dialogue %>"
      <% end %>
    </div>
    <div class="col-xs-3 notes">
      <p><%= cue.notes %></p>
      <p class="p-notes"><%= cue.private_notes %></p>
    </div>
    <br class="clear"/>
    <hr class="single"/>
  </div>
<% end %>
