<div class="text-center">
  <h1>Series: <%= @show.name %></h1>
  <h3>Episode: <%= @episode.episode_number %></h3>
</div>

<div class="hidden-print text-right col-xs-3 col-xs-offset-8">
  <input type="checkbox" checked="true" class="p-notes-button"/> Display Private Notes<br/>
  <input type="button" class="btn btn-success" value="Print Sheet" onClick="window.print()">
</div>

<br class="clear"/>

<div class="col-xs-2">
  Character
</div>
<div class="col-xs-2">
  Start/End
</div>
<div class="col-xs-4">
  Dialogue
</div>
<div class="col-xs-2">
  Notes
</div>

<br class="clear"/>
<hr class="double"/>

<% character_cues = Hash.new {|hash, key| hash[key] = 101 } %>

<% @cues.each do |cue| %>
  <% unless cue.omit %>
    <div class="col-xs-2">
      <p><%= cue.character.name[0..2].upcase + character_cues[cue.character.name].to_s %></p>
      <% character_cues[cue.character.name] += 1 %>
      <p><%= cue.character.name %></p>
    </div>
    <div class="col-xs-2">
      <p><%= cue.start_time %></p>
      <p><%= cue.end_time %></p>
    </div>
    <div class="col-xs-4">
      "<%= cue.dialogue %>"
    </div>
    <div class="col-xs-2">
      <p><%= cue.notes %></p>
      <p class="p-notes"><%= cue.private_notes %></p>
    </div>
    <br class="clear"/>
    <hr class="single"/>
  <% end %>
<% end %>
