<div class="text-center">
  <p><b>Series: <%= @show.name %></b></p>
  <p><b>Episode: <%= @episode.episode_number %></b></p>
  <p><b>Character: <%= @character.name %></b></p>
  <p><b>Actor: <%= @character.actor %></b></p>
</div>

<%= render 'shared/cue_sheet' %>
