<div class="title text-center">
  <h3>Series: <%= @show.name %></h3>
  <h3>Episode: <%= @episode.episode_number %></h3>
  <h4>Character: <%= @character.name %></h4>
  <h4>Actor: <%= @character.actor %></h4>
</div>

<%= render 'shared/cue_sheet' %>
