<div class="col-xs-8 col-xs-offset-2">

  <h1>Your shows</h1>

  <div>
    <p class="add" data-toggle="collapse" data-target="#show-creation">Add a New Show</p>
    <div id="show-creation" class="collapse">
      <%= form_for @show do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %><br /><br />
        <%= f.submit "Add Show", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <br />

  <% @shows.each do |show| %>
    <p>
      <%= link_to 'X', show_path(show), data: {confirm: 'Are you sure you want to permanently delete this show?'}, method: :delete, class: 'btn btn-xs btn-danger' %>
      <%= link_to show.name, show_path(show) %>
    </p>
  <% end %>

</div>
