<div class="col-xs-8 col-xs-offset-2">

  <h1><%= @show.name %></h1>

  <div>
    <p class="add" data-toggle="collapse" data-target="#episode-creation">Add an Episode</p>
    <div id="episode-creation" class="collapse">
      <%= form_for @episode do |f| %>
        <%= f.hidden_field :show_id, value: @show.id %>
        <%= f.label :episode_number %>
        <%= f.text_field :episode_number %><br />
        <%= f.submit "Add Episode", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <br />

  <% @episodes.each do |episode| %>
    <p><%= link_to episode.episode_number, episode_path(episode) %></p>
  <% end %>

</div>
